.welcome {
    display: flex;
    justify-content: center;
}

.login-label {
    margin-right: 1em;
}

.enter-game {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.login-table {
    border-collapse: separate;
    border-spacing: 0 1.3em;
}

.join {
    margin-top: 1%;
}

.username {
    height: 3em;
    width: 10em;
    font-size: 2em;
}

.roomId {
    height: 3em;
    width: 10em;
    font-size: 2em;
}

.submit-btn {
    height: 2em;
    font-size: 1.2em;
}

.start-btn {
    height: 2em;
    font-size: 1.2em;
    margin-top: 3em;
}

.main-lobby {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.waiting-prompt {
    margin: 1em;
}

.waiting-next {
    margin-top: 15em;
}

.waiting-vip-end {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vip-options {
    height: 2em;
    font-size: 1.2em;
    margin-top: 10em;
}

.spacer {
    padding-bottom: 40em;
}

.phase-title {
    margin: 1em;
}

.choice-btn {
    height: 2em;
    font-size: 1.2em;
}